.aboutme {
	font-size: 18px;
	margin: 12px;
}

body {
	margin: 30px;
}

.grade_indicator {
	color: purple;
}

.invisible_links a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.job-details {
	margin-top: 1px;
	margin-bottom: 7px;
	padding-left: 28px;
}

.job-outline {
	font-size: 25px;
}

.section_header {
	color: darkmagenta;
	font-size: 32px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 3px;
}

.skill_badge {
	padding: 1px;
	background-color: lightgray;
	border: 1px solid black;
	margin-left: 1px;
}

@media print {
	.new-page {
		margin-top: 30px;
		page-break-before: always;
	}
}

ul {
	padding-left: 12px;
}
