a {
	color: blue;
}

.aboutme {
	font-size: 18px;
	margin: auto;
}

.aboutme td {
	vertical-align: top;
}

body {
	font-size: 12px;
}

.education_item {
	margin-bottom: .75em;
}

.education_item .top {
	font-weight: bold;
}

.education_item .date {
	float: right;
}
.education_item_skills {
	font-size: 12px;
}

.education_skills_table td {
	text-align: center;
	padding-left: .5em;
	padding-right: .5em;
}

.invisible_links a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.job_details {
	margin-top: 1px;
	margin-bottom: 7px;
}

.job_outline {
	font-size: large;
}

@media print {
	@page {
		margin: 30px;
	}

	.new-page {
		page-break-before: always;
		height: 1px;
	}

	.portfolio_item {
		break-inside: avoid;
	}
}

@media screen {
	body {
		margin: 30px;
	}
}

.multi_column_list {
	columns: 2;
}

.portfolio {
}

.portfolio_item {
	margin-bottom: 30px;
}

.portfolio_item_name {
	font-weight: bold;
	font-size: x-large;
	margin-top: 0.2px;
}

.portfolio_item_preview {
	object-fit: cover;
	object-position: bottom;
	padding-top: 4px;
	padding-right: 4px;
	float: left;
}

.portfolio .sep {
	clear: both;
}

.project_description {
	margin-top: 1em;
	margin-bottom: .5em;
}

.references {
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	margin: 30px;
}

.section_header {
	color: slateblue;
	font-size: larger;
	font-weight: bold;
	margin-top: .75em;
	margin-bottom: .25em;
	border-bottom: solid;
}

.skill_badge {
	vertical-align: middle;
	height: 18px;
	margin: .5px;
}

.skill_badge_img {
	height: 12px;
	vertical-align: top;
}

.skill_badge_img > img {
	height: 16px;
}

.skill_badge_txt {
	border: 1px solid black;
	background-color: lightgray;
}

ul {
	padding-left: 12px;
	margin: 0px;
}

.ultravisible_link {
	font-weight: bolder;
}
