.aboutme {
	font-size: 18px;
	margin: 12px;
}

body {
	margin: 30px;
	font-size: 12px;
}

.grade_indicator {
	color: purple;
}

.invisible_links a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.job_details {
	margin-top: 1px;
	margin-bottom: 7px;
}

.job_outline {
	font-size: 25px;
}

@media print {
	.new-page {
		page-break-before: always;
	}
}

.portfolio_item {
	width: 45%;
	padding-right: 2.5%;
}

.portfolio_item h3 {
	margin-bottom: -2px;
	margin-top: 2px;
}

.portfolio_item img {
	object-fit: cover;
	object-position: bottom;
	padding-top: 4px;
	padding-right: 4px;
	float: left;
}

.portfolio_item .skills_shown {
	margin-right: 10px;
}

.portfolio_row {
	width: 100%;
	display: inline-flex;
	padding-bottom: 20px;
}

.project_description {
	padding-top: 10px;
}

.references {
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	margin: 40px;
}

.section_header {
	color: darkmagenta;
	font-size: 32px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 3px;
}

.skill_badge {
	padding: 1px;
	background-color: lightgray;
	border: 1px solid black;
	margin: 0.5px;
}

ul {
	padding-left: 12px;
}

.ultravisible_link {
	color: red;
	font-weight: bolder;
	text-decoration: none;
}
